<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Home Page</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <main role="main" class="flex-shrink-0">
        <%- include('partials/header') %>
        <h1 class="text-center">Home Page Layout</h1>    
    </main>
    <%- include('partials/footer') %>
</body>
</html>
