<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Services</title>
</head>
<body>
    <%- include('partials/header') %>    
    <h1>Services Page</h1>    
    <%- include('partials/footer') %>
</body>
</html>